[user]
  email = joshua.a.neely@gmail.com
  name = JoshuaNeely
  #signingkey = 3E9F5FAA49C116035C6EF791EA576D2F5893C785

[rebase]
  instructionFormat = (<%ae>) %s

[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --

[core]
  excludesfile = ~/.gitignore_global
  editor = emacs

# work specific things
#[includeIf "gitdir:~/git/ussf/"]
  #path = ~/rcs/.gitconfig-is4s

[commit]
	gpgsign = false

[gpg]
	program = gpg2

[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager-core
	# credentialStore = gpg
	credentialStore = plaintext
	helper = /usr/local/bin/git-credential-manager

[credential "https://gitlab.gc3.io"]
	provider = generic
[merge]
	conflictStyle = diff3
