[user]
  email = joshua.a.neely@gmail.com
  name = JoshuaNeely
  signingkey = 3E9F5FAA49C116035C6EF791EA576D2F5893C785

[rebase]
  instructionFormat = (<%ae>) %s

[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --

[core]
  excludesfile = ~/.gitignore_global
  editor = vim

# work specific things
[includeIf "gitdir:~/adtran/"]
  path = ~/.gitconfig-adtran

[commit]
	gpgsign = false

[gpg]
	program = gpg2
