[Desktop Entry]
Name=ScreenShot
Comment=wrapper around screenshot script
Exec=sh -c "$HOME/.local/bin/screenshot"
Terminal=false
Type=Application
Categories=Utility;Image;
